.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @media  screen and (max-width: 1050px) {
    #gpt3__navbar-links_container {
        display: none;
    }

    #gpt3__navbar-menu{
        display: flex;
    }
    #circle{
      display: none;
    }
  }

  @media  screen and (max-width: 700px) {
    #gpt3__navbar {
        padding: 2rem 4rem;
    }
    #mudu {
      flex-direction: column;
    }
}
  @media  screen and (max-width: 550px) {
    #gpt3__navbar {
        padding: 2rem ;
    }
   
    #gpt3__navbar-menu_container {
        top: 20px;
    }
#pick{
  margin-left: 11px;
}
  }
.hii {
  visibility: hidden;
}
  
.hii:hover{
  visibility: visible;
}
  